.App {
  text-align: center;
  height: 100%;
  margin: 0;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
background-image: url("nails.png");
min-height: 100vh;
}
          
.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
          
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  padding-left: 7em;
  padding-right: 7em;
  justify-content: space-evenly;
  color: white;
}

h1 {
  font-size: 6vw;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  font-family: 'Grand Hotel', cursive;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
}

.menu-bar{
  padding: 1em;
}

.staffSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4vw;
}

img{
  height: 200px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.staffPhotos{
  display: flex;
  flex-direction: column;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.staffText{
  width: 30%;
  padding: 1vw;
  margin-top: 10%;
  margin-left: 2%;
}

.row1{
  display: flex;
  flex-direction: row;
}

h4{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  margin: .5vw;
}

.menu-link:link {
  text-decoration: none;
  color: white;
}

.menu-link:visited {
  text-decoration: none;
    color: white;
}

.menu-link:hover {
  text-decoration: none;
    color: white;
}

.menu-link:active {
  text-decoration: none;
    color: white;
}

a.anchor{
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}